body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family:sans-serif;
    background-color:white;
    font-size: 20px;
    
  }
  
  .testimotionals {
  width:300px;
   display:inline-block;
    margin-left:50px;
    margin-top:50px;
  
    
  }
  
  
  .testimotionals .card {
    height: 400px;
    width: 80px;
    
    position:relative;
    overflow:hidden;
    width:350px;
    margin:0 auto;
    background:black;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
     border-radius: 50px 20px;
    box-shadow:0 10px 40px rgba(0,0,0,.5)
  }
  .testimotionals .card .layer {
    z-index:1;
    position:absolute;
    top:calc(100% - 2px);
    height:100%;
    width:100%;
    left:0;
    background:linear-gradient(to left , gray, lightgrey);
    transition:0.5s;
    
  }
  
  .testimotionals .card .content {
    z-index:2; 
    position:relative;
  }
  
  .testimotionals .card:hover  .layer{
    top:0;
  }
  
  .testimotionals .card .content p {
    font-size:14px;
    line-height:24px;
    color:white;
    
  }
  .testimotionals .card .content .image {
    width:100px; height:100px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    border: 4px solid white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    
  }
  
  .testimotionals .card .content .details h2 {
  font-size:20px;
  color:white;
  }
  .testimotionals .card .content .details h2 span {
  font-size:18px;
  color:black;
    transition:0.5s;
    color: white;
  }
  .testimotionals .card:hover .content .details h2 span {
    color:black;
    position:relative
  }
  .testimotionals .card:hover .content p {
    font-size:14px;
    line-height:24px;
    color:black;
    
  }
  
  body{
    margin-bottom:20px
  }
  
  .wwh1{
    text-align: center;
  
     margin: 80px;
     
     
  
  }
  .wwh3{
    padding-left: 180px;
  }
  @media only screen and (max-width: 768px) {
   
    .wwh1{
      text-align: center;
  
    
  
    }
    .wwh2{
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
  }
  